@font-face {
    font-family: 'Kaldera Regular';
    src: url('./assets/fonts/Kaldera-Regular.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Amandine';
    src: url('./assets/fonts/Amandine.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
}

@tailwind base;
@tailwind components;
@tailwind utilities;

/* Your other styles here */
body {
    @apply font-sans;
}